body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
}
* {
	font-family: "Microsoft YaHei", yaHei;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#container {
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: #F2FCEC; 
}
#root {
	width: 400px;
	/*border: 1px solid green;*/
	border-radius: 5px;
	padding: 24px 0;
	margin: auto;
	text-align: left;
	background-color: #CCFFCB;
	-webkit-background-size: 62px 62px;
       -moz-background-size: 62px 62px;
            background-size: 62px 62px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(0, 0, 0, .1)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, .1) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(0, 0, 0, .1) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(0, 0, 0, .1) 50%, transparent 50%, transparent);
}
#root:first-child {
	/*text-align: left;*/
}
.child {
	/*border: 1px solid green;*/
	border-radius: 5px;
	margin: 10px 0 0 30px;
	color: #333;
	/*background-color: #fff;*/
}
.child .tree-title {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	cursor: pointer;
}
#show {
	background-color: #C3E935;
}
/*#original {
	background-color: #fff;
}*/
#highlight {
	/*background-color: lightgreen;*/
	color: lightgreen;
}
#select {
	background-color: #F6F134;
}
button {
	width: 130px;
    outline: none;
    border: 1px solid #7DF7CA;
    border-radius: 5px;
    padding:2px 20px;
    margin: 10px;
    font-size: 20px;
    background-color: #7DF7CA;
    box-shadow: 2px 2px 5px #ccc;
}
button:hover {
	background-color: #A2DBF1;
}
input {
	outline: none;
	height: 30px;
	margin-left: 20px
	border: 1px solid #ccc;
}
input:focus {
	border-color: #7DF7CA;
}
#alertText,
#alertText2 {
	display: inline-block;
	position: relative;
	top: 5px;
	width: 110px;
	font-size: 14px;
}
.tree-title-sign {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	/*border: 1px solid #000;*/
}
#floatDiv{
	display: none;

}
.tree-add {
	display: none;
	margin-left: 8px;
}
.tree-delet {
	display: none;
	margin-left: 40px;
}

.tree-title:hover {
	color: #339062;
	/*text-shadow: 1px 1px 1px #aaa;*/
	/*text-shadow: 5px 5px 5px solid #339062;*/
}

.tree-title:hover .tree-delet,
.tree-title:hover .tree-add {
	display: inline-block;
}
.tree-add,
.tree-delet {
	color: #008B6E;
}
.tree-add:hover,
.tree-delet:hover {
	color: #666;
}